[app]
RunMode = "debug"
Host = ""
Port = 2025
Name = "hot-top"
[ai]
DeepSeekToken = "xxxxx"
[hot]
ExpiredCheckInterval = "10s"
HotPullInterval = "1h"
[hot.HotConf]
kuaishou = { Disabled = true }
earthquake = { Disabled = true }
